
<title>SplitWise Application</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css">

<div class="container">
	<h1>Plan something?</h1>
	<br>

	<button id="add_group" onclick="window.location.href='/add_group'"> Add Group </button>
	<p class="lmargin20px"> Create A New Group </p>
	<br>
	<br>
	
	<button id="my_group" onclick="window.location.href='/my_group'"> My Groups </button>

	<p class="lmargin20px"> Your Created Groups </p>
	<p class="lmargin20px"> Your Have <strong>
		<%= groups_list.length %></strong> Groups </p>
</div>
<br>
<br>
<a href="../">back</a>																																
